Repository NKI-AI/direct, pull requests merged in 2021-12, with the labels that each got.

#133 Download checkpoints
  direct/checkpointer.py
  direct/cli/utils.py
  direct/common/calgary_campinas_masks/R10_218x170.npy
  direct/common/calgary_campinas_masks/R10_218x174.npy
  direct/common/calgary_campinas_masks/R10_218x180.npy
  direct/common/calgary_campinas_masks/R5_218x170.npy
  direct/common/calgary_campinas_masks/R5_218x174.npy
  direct/common/calgary_campinas_masks/R5_218x180.npy
  direct/common/subsample.py
  direct/data/transforms.py
  direct/environment.py
  direct/nn/jointicnet/jointicnet.py
  direct/nn/kikinet/kikinet.py
  direct/nn/lpd/lpd.py
  direct/nn/multidomainnet/multidomainnet.py
  direct/nn/recurrent/recurrent.py
  direct/nn/recurrentvarnet/recurrentvarnet.py
  direct/nn/rim/rim.py
  direct/nn/unet/tests/test_unet_2d.py
  direct/nn/xpdnet/xpdnet.py
  direct/tests/__init__.py
  direct/tests/test_checkpointer.py
  direct/utils/asserts.py
  direct/utils/dataset.py
  direct/utils/io.py
  direct/utils/tests/test_io.py
  direct/utils/tests/test_utils.py
  setup.py
  tools/parse_metrics_log.py
  tools/train_model.py
Labels: python

#136 Design `direct train` CLI interface
  direct/cli/__init__.py
  direct/cli/train.py
  direct/cli/utils.py
  direct/environment.py
  direct/train.py
  tools/README.md
Labels: documentation, python

#139 Added `direct train` CLI interface (Closes #109)
  direct/cli/__init__.py
  direct/cli/train.py
  direct/cli/utils.py
  direct/environment.py
  direct/train.py
  tools/README.md
Labels: documentation, python

#144 Fix checkpointer bug and add tests
  direct/checkpointer.py
  direct/tests/test_checkpointer.py
Labels: python

#145 Fix checkpointer bug and add checkpointer tests (#144)
  direct/checkpointer.py
  direct/tests/test_checkpointer.py
Labels: python

#141 Added possibility to initialize from a configuration file
  direct/checkpointer.py
  direct/cli/train.py
  direct/config/defaults.py
  direct/train.py
Labels: python

#149 Move all tests to the main directory in `tests` folder
  direct/nn/didn/tests/__init__.py
  direct/nn/jointicnet/tests/__init__.py
  direct/nn/kikinet/tests/__init__.py
  direct/nn/lpd/tests/__init__.py
  direct/nn/multidomainnet/tests/__init__.py
  direct/nn/mwcnn/tests/__init__.py
  direct/nn/recurrent/tests/__init__.py
  direct/nn/rim/tests/__init__.py
  direct/nn/unet/tests/__init__.py
  direct/nn/varnet/tests/__init__.py
  direct/nn/xpdnet/tests/__init__.py
  tests/__init__.py
  tests/test_checkpointer.py
  tests/tests_common/__init__.py
  tests/tests_common/test_subsample.py
  tests/tests_data/__init__.py
  tests/tests_data/test_fake.py
  tests/tests_data/test_sampler.py
  tests/tests_data/test_transforms.py
  tests/tests_functionals/__init__.py
  tests/tests_functionals/images/kodim10.png
  tests/tests_functionals/test_ssim.py
  tests/tests_nn/__init__.py
  tests/tests_nn/test_conv.py
  tests/tests_nn/test_didn.py
  tests/tests_nn/test_jointicnet.py
  tests/tests_nn/test_kikinet.py
  tests/tests_nn/test_lpd.py
  tests/tests_nn/test_multidomainnet.py
  tests/tests_nn/test_mwcnn.py
  tests/tests_nn/test_recurrent.py
  tests/tests_nn/test_recurrentvarnet.py
  tests/tests_nn/test_rim.py
  tests/tests_nn/test_unet_2d.py
  tests/tests_nn/test_varnet.py
  tests/tests_nn/test_xpdnet.py
  tests/tests_utils/__init__.py
  tests/tests_utils/test_io.py
  tests/tests_utils/test_utils.py
Labels: python

#153 Add coverage check
  .coveragerc
  .github/workflows/coverage.yml
  README.md
  codecov.yml
Labels: documentation, ci

#151 `direct predict` option for inference and minor fixes
  direct/cli/__init__.py
  direct/cli/predict.py
  direct/functionals/challenges.py
  direct/inference.py
  direct/predict.py
  direct/utils/imports.py
  projects/calgary_campinas/predict_test.py
  projects/predict_val.py
  projects/spie_radial_subsampling/predict_test.py
  projects/spie_radial_subsampling/predict_val.py
  tests/tests_utils/test_imports.py
Labels: python

#157 Merge v1.0.0-rc0
  .coveragerc
  README.md
  authors.md
  contributing.md
  direct/__init__.py
  direct/cli/__init__.py
  direct/cli/predict.py
  direct/data/mri_transforms.py
  direct/data/transforms.py
  direct/engine.py
  direct/environment.py
  direct/functionals/__init__.py
  direct/functionals/challenges.py
  direct/functionals/regularizer.py
  direct/inference.py
  direct/nn/jointicnet/config.py
  direct/nn/jointicnet/jointicnet_engine.py
  direct/nn/kikinet/config.py
  direct/nn/kikinet/kikinet_engine.py
  direct/nn/lpd/config.py
  direct/nn/lpd/lpd_engine.py
  direct/nn/multidomainnet/multidomainnet_engine.py
  direct/nn/recurrentvarnet/recurrentvarnet_engine.py
  direct/nn/rim/rim_engine.py
  direct/nn/unet/unet_engine.py
  direct/nn/varnet/varnet_engine.py
  direct/nn/xpdnet/xpdnet_engine.py
  direct/predict.py
  direct/train.py
  direct/utils/asserts.py
  docs/conf.py
  docs/installation.rst
  setup.cfg
  setup.py
  tests/tests_data/test_datasets.py
  tests/tests_data/test_lr_scheduler.py
  tests/tests_data/test_mri_transforms.py
  tests/tests_data/test_sampler.py
  tests/tests_data/test_samplers.py
  tests/tests_data/test_transforms.py
  tests/tests_functionals/images/kodim10.png
  tests/tests_functionals/test_nmse.py
  tests/tests_functionals/test_psnr.py
  tests/tests_functionals/test_ssim.py
Labels: documentation, python

#160 V1.0.0 rc1
  direct/nn/rim/rim.py
  tests/tests_nn/test_jointicnet_engine.py
  tests/tests_nn/test_kikinet_engine.py
  tests/tests_nn/test_lpd_engine.py
  tests/tests_nn/test_multidomainnet_engine.py
  tests/tests_nn/test_recurrentvarnet_engine.py
  tests/tests_nn/test_rim.py
  tests/tests_nn/test_rim_engine.py
  tests/tests_nn/test_unet_engine.py
  tests/tests_nn/test_varnet_engine.py
  tests/tests_nn/test_xpdnet.py
  tests/tests_nn/test_xpdnet_engine.py
  tests/tests_utils/test_utils.py
Labels: python
